body {
    background-color: blueviolet;
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: 90% 100%;
    border-width: 3em;
    color: white;
    padding: 3em;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 2.5em;
}

.intro-text {
    font-size: 1.5em;
}

.main-container {
    vertical-align: middle;
}

.right-container {
    padding: 6em 3em;
    vertical-align: middle;
}

.mockup-img {
    width: 100%;
    object-fit: fill;
    vertical-align: middle;
}

.left-container{
    width: 50%;
    padding: 3em;
    float: left;
}

.attribution {
    clear: left;
}

.register-btn {
    background-color: white;
    width: 11em;
    height: 2.5em;
    border-radius: 4em;
    border-style: none;
    font-size: 1.5em;
    color: blueviolet;
    box-shadow: 5px 10px 7px #0005;
}

.register-btn:hover {
    color: white;
    background-color: violet;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 2em;
  }

  h1 {
      font-size: 1.5em;
  }

  .left-container{
      width: 90%;
      padding: 3em;
      padding-left: 1.5em;
      float: none;
  }

  .right-container {
      text-align: center;
      padding: 2em;
      padding-top: 0;
      padding-bottom: 4em;
  }

  .logo-img {
      width: 40%;
  }
}